:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark_blue: hsl(249, 10%, 26%);
  --grayish_blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem;
  background-image: url(bg-intro-mobile.png);
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;
  max-width: 20rem;
  font-family: "Poppins";
}

/*Customize header*/

.title {
  padding-top: 1.5rem;
  color: white;
}

.summary {
  padding: 1.5rem 0 1.5rem 0;
  line-height: 1.5rem;
  font-size: 16px;
  color: white;
}

.container2 {
  margin: 2rem 0 2rem 0;
  line-height: 26px;
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 10px;
  color: white;
  background-color: var(--blue);
  box-shadow: 0px 10px 1px #36333352;
}
.emphasize {
  font-weight: bolder;
}

.container3 {
  font-weight: bold;
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
  background-color: white;
  min-height: 14rem;
  box-shadow: 0px 10px 1px #36333352;
}

/*Customize the form*/

[required] {
  border-radius: 5px;
  border: 1px solid gray;
  margin: 1rem;
  padding: 1rem 1.3rem 1rem 1.3rem;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right;
}

input::placeholder {
  font-weight: bold;
  color: gray;
}

.button1 {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: var(--green);
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  box-shadow: 0px 5px 1px #3a9d3ab8;
}

.conditions {
  color: var(--grayish_blue);
  text-align: center;
  font-size: small;
}

.conditions_red {
  color: red;
}

.button1:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.icon {
  position: relative;
  bottom: 2.7rem;
  left: 12rem;
  display: none;
}

.container3 .text {
  color: red;
  font-style: italic;
  font-size: small;
  text-align: right;
  margin-bottom: 0px;
}

@font-face {
  font-family: "Poppins";
  src: url(https://fonts.google.com/specimen/Poppins.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-SemiBold.ttf);
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  main {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    max-width: 100%;
  }
  header {
    font-size: 2rem;
  }

  .form1 {
    padding: 1rem;
  }

  .container1 {
    font-size: large;
    text-align: left;
    padding-top: 10rem;
    max-width: 38rem;
    font-size: 1.6rem;
  }

  .container3 {
    padding: 1rem 2rem 1rem 1rem;
  }

  section {
    max-width: 40rem;
  }

  p.summary {
    padding: 1rem 0rem 1rem 0rem;
  }

  header.container1 {
    padding: 10rem 3rem 3rem 3rem;
  }

  [required] {
    padding-right: 15rem;
    display: block;
    margin: 1rem 1rem 1rem 0rem;
  }

  .container3 .text {
    font-size: small;
    margin-top: 0;
    position: relative;
    top: -15px;
  }

  .button1 {
    padding: 1rem 8.5rem 1rem 8.5rem;
    color: white;
  }

  p.conditions {
    margin-bottom: 2rem;
  }

  .icon {
    bottom: 2.7rem;
    left: 25rem;
  }
}
